{% load i18n %}
<!doctype html>
<html lang="en">

<head>
    <title>Django Registration Test App</title>
</head>

<body>
    <div id="header">
    {% block header %}
    <a href="{% url 'index' %}">{% translate "Home" %}</a> |

    {% if user.is_authenticated %}
        {% translate "Logged in" %}: {{ user.get_username }}
        (<a href="{% url 'auth_logout' %}">{% translate "Log out" %}</a> |
        <a href="{% url 'auth_password_change' %}">{% translate "Change password" %}</a>)
    {% else %}
       <a href="{% url 'auth_login' %}">{% translate "Log In" %}</a>
    {% endif %}
    {% endblock header %}
    </div>

    <div id="content">
    <h1>{% block title %}{% endblock title %}</h1>
    {% block content %}

    {% endblock content %}
    </div>

    <div id="footer">
    {% block footer %}
    {% endblock footer %}
    </div>
</body>

</html>
