{% load i18n %}

{% blocktranslate %}Greetings{% endblocktranslate %} {% if user.get_full_name %}{{ user.get_full_name }}{% else %}{{ user }}{% endif %},

{% blocktranslate %}
You are receiving this email because you (or someone pretending to be you)
requested that your password be reset on the {{ domain }} site. If you do not
wish to reset your password, please ignore this message.
{% endblocktranslate %}

{% blocktranslate %}
To reset your password, please click the following link, or copy and paste it
into your web browser:
{% endblocktranslate %}

<a rel="noreferrer" href="{{ protocol }}://{{ domain }}{% url 'auth_password_reset_confirm' uid token %}">
  {{ protocol }}://{{ domain }}{% url 'auth_password_reset_confirm' uid token %}
</a>

{% blocktranslate %}Your username, in case you've forgotten:{% endblocktranslate %} {{ user.get_username }}


{% include "registration/signature.html" %}


{# This is used by django.contrib.auth #}
