{% extends "registration/registration_base.html" %}
{% load i18n %}

{% block title %}{% translate "Activation email sent" %}{% endblock title %}

{% block content %}
<p>{% translate "Please check your email, {{ request.session.registration_email }}, to complete the registration process." %}</p>
{% endblock content %}


{% comment %}
**registration/registration_complete.html**

Used after successful completion of the registration form. This
template has no context variables of its own, and should simply inform
the user that an email containing account-activation information has
been sent.
{% endcomment %}
