{% extends "registration/registration_base.html" %}
{% load i18n %}

{% block title %}{% translate "Register for an account" %}{% endblock title %}

{% block content %}
<form method="post" action="">{% csrf_token %}
{{ wizard.management_form }}
{% if wizard.form.forms %}
    {{ wizard.form.management_form }}
    {% for form in wizard.form.forms %}
        {{ form.as_p }}
    {% endfor %}
{% else %}
    {{ wizard.form.as_p }}
{% endif %}

{% if wizard.steps.prev %}
<button name="wizard_goto_step" type="submit" value="{{ wizard.steps.first }}">{% translate "First" %}</button>
<button name="wizard_goto_step" type="submit" value="{{ wizard.steps.prev }}">{% translate "Prev" %}</button>
{% endif %}
<input type="submit" name="submit" value="{% translate "Submit" %}" />
</form>
{% endblock content %}
